<div>
  <%= flash[:notice] %>
</div>

<h4>User info</h4>
 <table class = "table">
   <tbody>
    <tr>
       <th></th>
       <th></th>
    </tr>
      <tr>
        <th>name</th>
        <th><%= user&.name %></th>
       </tr>
       <tr>
        <th>introduction</th>
        <th><%= user&.introduction %></th>
        <tr>
        <th><%= link_to books_path, class: "btn btn-outline-secondary btn-block", method: :get do %>
         <i class="fas fa-user-cog"></i></th>
        <% end %>
        </tr>

   </tbody>
 </table>
 <table>


 </table>
