<h2>New book</h2>
 <%= form_with model: book, class: "user", local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_field :body %>
  <p>
  <div><%= f.submit 'Create Book', class: 'btn btn-success' %></div>
　</p>
<% end %>
